USE [master]
GO
/****** Objeto: Database [TpIngSoftware_2026] Fecha de script: 23/09/2026 20:35:43 ******/
IF DB_ID(N'TpIngSoftware_2026') IS NULL
    CREATE DATABASE [TpIngSoftware_2026]
GO
USE [TpIngSoftware_2026]
GO
/****** Objeto: Table [dbo].[BITACORA] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.BITACORA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[BITACORA](
	[IdBitacora] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Actividad] [varchar](100) NOT NULL,
	[InformacionAsociada] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[Control] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Control', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Control](
	[IdControl] [int] IDENTITY(1,1) NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
	[NombreFormulario] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Control] PRIMARY KEY CLUSTERED 
(
	[IdControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[CONTROL_CAMBIOS] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.CONTROL_CAMBIOS', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[CONTROL_CAMBIOS](
	[IdCambio] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CampoModificado] [nvarchar](100) NOT NULL,
	[ValorAnterior] [nvarchar](300) NULL,
	[ValorActual] [nvarchar](300) NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[TipoOperacion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTROL_CAMBIOS] PRIMARY KEY CLUSTERED 
(
	[IdCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[DIGITO_VERIFICADOR] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.DIGITO_VERIFICADOR', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[DIGITO_VERIFICADOR](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_DIGITO_VERIFICADOR] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Idioma', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[IsDisponible] [bit] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[PERMISO] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.PERMISO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PERMISO](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsFamilia] [bit] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[PERMISO_RELACION] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.PERMISO_RELACION', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PERMISO_RELACION](
	[IdPadre] [int] NOT NULL,
	[IdHijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Relacion] PRIMARY KEY CLUSTERED 
(
	[IdPadre] ASC,
	[IdHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[PRODUCTO] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.PRODUCTO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_PRODUCTO_Activo] DEFAULT ((1)),
	[DVH] [nvarchar](300) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_PRODUCTO_Tipo] CHECK ([Tipo] IN (N'Bebida', N'Piqueo'))
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Traduccion', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdControl] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[TextoTraducido] [nvarchar](600) NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[USUARIO] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.USUARIO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[ApellidoUsuario] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[CorreoElectronico] [nvarchar](50) NOT NULL,
	[ContraseñaUsuario] [nvarchar](300) NOT NULL,
	[IdIdioma] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Objeto: Table [dbo].[USUARIO_PERMISO] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.USUARIO_PERMISO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[BITACORA])
BEGIN
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (1, 1, CAST(N'2026-05-06T21:27:09.547' AS DateTime), N'Inicio de sesion', N'Usuario: test@test.com')
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (2, 1, CAST(N'2026-05-06T21:28:14.167' AS DateTime), N'Cierre de sesion', N'El Usuario: test@test.com Cerró la sesion.')
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (3, 1, CAST(N'2026-05-06T21:34:07.200' AS DateTime), N'Inicio de sesion', N'Usuario: test@test.com')
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (4, 1, CAST(N'2026-05-06T21:41:52.310' AS DateTime), N'Alta de usuario', N'Se agrego el usuario: mario@gmail.com')
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[Control])
BEGIN
SET IDENTITY_INSERT [dbo].[Control] ON 

INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (1, N'lblLeyendaIniciofrmLogin', N'frmLogin')
INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (2, N'lblCorreoElectronicofrmLogin', N'frmLogin')
INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (3, N'lblContraseñafrmLogin', N'frmLogin')
SET IDENTITY_INSERT [dbo].[Control] OFF
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[DIGITO_VERIFICADOR])
BEGIN
INSERT [dbo].[DIGITO_VERIFICADOR] ([NombreTabla], [DVV]) VALUES (N'PRODUCTO', N'1db9a2eea6b4259e9684762403dc4f9d292d443a7a4ceef855af743a0261a4ee')
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[Idioma])
BEGIN
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [IsDisponible]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [IsDisponible]) VALUES (2, N'English', 1)
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [IsDisponible]) VALUES (3, N'Portugues', 1)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO])
BEGIN
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (1, N'Gestion Usuarios', 0)
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (2, N'Gestion Productos', 0)
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (3, N'Auditoria', 0)
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (4, N'Gestion Idiomas', 0)
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION])
BEGIN
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (13, 1)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (13, 2)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (13, 3)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (13, 4)
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[PRODUCTO])
BEGIN
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Tipo], [Activo], [DVH]) VALUES (1, N'Fernet con Coca', N'Bebida', 1, N'2c581f3870084a262b09a5e861fc23c1a9c15510af86926770bcdd135bcbb915')
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Tipo], [Activo], [DVH]) VALUES (2, N'Mojito', N'Bebida', 1, N'20bf93b68664ce2f87845f148bc369180e05fc67b139866e16cfce52e7351081')
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Tipo], [Activo], [DVH]) VALUES (3, N'Papas fritas', N'Piqueo', 1, N'8683b7bdf54b5bd53c2daa2909bf99edfbcbf9cd7d7371d648a19923a319c4af')
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion])
BEGIN
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (1, 1, 1, N'¡Bienvenido a nuestro sistema!')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (2, 2, 1, N'Correo Electrónico')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (3, 3, 1, N'Contraseña')
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[USUARIO])
BEGIN
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma]) VALUES (1, N'test', N'test', 12345678, N'test@test.com', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08', 1)
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma]) VALUES (2, N'Mario', N'Cajal', 11222333, N'mario@cajal.com', N'5f5a8ed8f139be6df7cf8f4a91d3e4649961a98c82fd521c18d6f292b031a319', NULL)
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma]) VALUES (3, N'Sebastian', N'Fernandez', 22333444, N'seba@fernandez.com', N'aec5723d000fd22a5fe48d72a850841b64f81c8518dead7e12a06fdb0f7d389c', NULL)
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[USUARIO_PERMISO])
BEGIN
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (1, 13)
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (3, 13)
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE parent_object_id = OBJECT_ID(N'dbo.CONTROL_CAMBIOS') AND parent_column_id = COLUMNPROPERTY(OBJECT_ID(N'dbo.CONTROL_CAMBIOS'), N'FechaModificacion', 'ColumnId'))
    ALTER TABLE [dbo].[CONTROL_CAMBIOS] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE parent_object_id = OBJECT_ID(N'dbo.Idioma') AND parent_column_id = COLUMNPROPERTY(OBJECT_ID(N'dbo.Idioma'), N'IsDisponible', 'ColumnId'))
    ALTER TABLE [dbo].[Idioma] ADD  CONSTRAINT [DF_Idioma_IsDisponible]  DEFAULT ((1)) FOR [IsDisponible]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE parent_object_id = OBJECT_ID(N'dbo.PERMISO') AND parent_column_id = COLUMNPROPERTY(OBJECT_ID(N'dbo.PERMISO'), N'EsFamilia', 'ColumnId'))
    ALTER TABLE [dbo].[PERMISO] ADD  DEFAULT ((0)) FOR [EsFamilia]
GO
IF OBJECT_ID(N'dbo.FK_BITACORA_USUARIO', N'F') IS NULL
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
IF OBJECT_ID(N'dbo.FK_CC_Producto', N'F') IS NULL
ALTER TABLE [dbo].[CONTROL_CAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_CC_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS] CHECK CONSTRAINT [FK_CC_Producto]
GO
IF OBJECT_ID(N'dbo.FK_CC_Usuario', N'F') IS NULL
ALTER TABLE [dbo].[CONTROL_CAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_CC_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS] CHECK CONSTRAINT [FK_CC_Usuario]
GO
IF OBJECT_ID(N'dbo.FK_PR_Hijo', N'F') IS NULL
ALTER TABLE [dbo].[PERMISO_RELACION]  WITH CHECK ADD  CONSTRAINT [FK_PR_Hijo] FOREIGN KEY([IdHijo])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[PERMISO_RELACION] CHECK CONSTRAINT [FK_PR_Hijo]
GO
IF OBJECT_ID(N'dbo.FK_PR_Padre', N'F') IS NULL
ALTER TABLE [dbo].[PERMISO_RELACION]  WITH CHECK ADD  CONSTRAINT [FK_PR_Padre] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[PERMISO_RELACION] CHECK CONSTRAINT [FK_PR_Padre]
GO
IF OBJECT_ID(N'dbo.FK_Traduccion_Control', N'F') IS NULL
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Control] FOREIGN KEY([IdControl])
REFERENCES [dbo].[Control] ([IdControl])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Control]
GO
IF OBJECT_ID(N'dbo.FK_Traduccion_Idioma', N'F') IS NULL
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
IF OBJECT_ID(N'dbo.FK_Usuario_Idioma', N'F') IS NULL
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
IF OBJECT_ID(N'dbo.FK_UP_Permiso', N'F') IS NULL
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_UP_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_UP_Permiso]
GO
IF OBJECT_ID(N'dbo.FK_UP_Usuario', N'F') IS NULL
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_UP_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_UP_Usuario]
GO
-- ══════════════════════════════════════════════════════════════
--  N01 - VENTA DE PRODUCTOS (tablas)
--  + PROVEEDOR e INSUMO_PROVEEDOR de N02 (ABM de proveedores)
--  Tipos: decisión 31 (nvarchar; importes decimal(18,2); cantidades,
--  magnitudes y proporciones decimal(18,3)).
-- ══════════════════════════════════════════════════════════════
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.TAMAÑO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[TAMAÑO](
	[IdTamaño] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CantidadMagnitud] [decimal](18, 3) NOT NULL,
	[UnidadMagnitud] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_TAMAÑO_Activo] DEFAULT ((1)),
 CONSTRAINT [PK_TAMAÑO] PRIMARY KEY CLUSTERED ([IdTamaño] ASC),
 CONSTRAINT [CK_TAMAÑO_CantidadMagnitud] CHECK ([CantidadMagnitud] > 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.PRODUCTO_TAMAÑO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PRODUCTO_TAMAÑO](
	[IdProducto] [int] NOT NULL,
	[IdTamaño] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PRODUCTO_TAMAÑO] PRIMARY KEY CLUSTERED ([IdProducto] ASC, [IdTamaño] ASC),
 CONSTRAINT [FK_PT_Producto] FOREIGN KEY ([IdProducto]) REFERENCES [dbo].[PRODUCTO] ([IdProducto]),
 CONSTRAINT [FK_PT_Tamaño] FOREIGN KEY ([IdTamaño]) REFERENCES [dbo].[TAMAÑO] ([IdTamaño]),
 CONSTRAINT [CK_PRODUCTO_TAMAÑO_Precio] CHECK ([Precio] >= 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.INSUMO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[INSUMO](
	[IdInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[UnidadMedida] [nvarchar](20) NOT NULL,
	[UnidadCompra] [nvarchar](50) NOT NULL,
	[EquivalenciaMagnitud] [decimal](18, 3) NOT NULL,
	[VolumenPesoDisponible] [decimal](18, 3) NOT NULL,
	[UmbralReposicion] [decimal](18, 3) NOT NULL,
	[CostoUnidadCompra] [decimal](18, 2) NOT NULL,
	[AvisoStockBajo] [bit] NOT NULL CONSTRAINT [DF_INSUMO_AvisoStockBajo] DEFAULT ((0)),
	[Activo] [bit] NOT NULL CONSTRAINT [DF_INSUMO_Activo] DEFAULT ((1)),
 CONSTRAINT [PK_INSUMO] PRIMARY KEY CLUSTERED ([IdInsumo] ASC),
 CONSTRAINT [CK_INSUMO_Equivalencia] CHECK ([EquivalenciaMagnitud] > 0),
 -- El stock nunca puede quedar negativo (regla dura de CLAUDE.md)
 CONSTRAINT [CK_INSUMO_VolumenPeso] CHECK ([VolumenPesoDisponible] >= 0),
 CONSTRAINT [CK_INSUMO_Umbral] CHECK ([UmbralReposicion] >= 0),
 CONSTRAINT [CK_INSUMO_Costo] CHECK ([CostoUnidadCompra] >= 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.RECETA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[RECETA](
	[IdProducto] [int] NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[Proporcion] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_RECETA] PRIMARY KEY CLUSTERED ([IdProducto] ASC, [IdInsumo] ASC),
 CONSTRAINT [FK_RECETA_Producto] FOREIGN KEY ([IdProducto]) REFERENCES [dbo].[PRODUCTO] ([IdProducto]),
 CONSTRAINT [FK_RECETA_Insumo] FOREIGN KEY ([IdInsumo]) REFERENCES [dbo].[INSUMO] ([IdInsumo]),
 CONSTRAINT [CK_RECETA_Proporcion] CHECK ([Proporcion] > 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.VENTA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MedioPago] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED ([IdVenta] ASC),
 CONSTRAINT [CK_VENTA_Monto] CHECK ([Monto] >= 0),
 CONSTRAINT [CK_VENTA_MedioPago] CHECK ([MedioPago] IN (N'Efectivo', N'Débito', N'Crédito', N'Transferencia', N'QR'))
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.VENTA_DETALLE', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[VENTA_DETALLE](
	[IdVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdTamaño] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[MontoLinea] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VENTA_DETALLE] PRIMARY KEY CLUSTERED ([IdVentaDetalle] ASC),
 CONSTRAINT [FK_VD_Venta] FOREIGN KEY ([IdVenta]) REFERENCES [dbo].[VENTA] ([IdVenta]),
 CONSTRAINT [FK_VD_ProductoTamaño] FOREIGN KEY ([IdProducto], [IdTamaño]) REFERENCES [dbo].[PRODUCTO_TAMAÑO] ([IdProducto], [IdTamaño]),
 CONSTRAINT [CK_VENTA_DETALLE_Cantidad] CHECK ([Cantidad] > 0),
 CONSTRAINT [CK_VENTA_DETALLE_MontoLinea] CHECK ([MontoLinea] >= 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.VALE', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[VALE](
	[IdVale] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[FechaHoraEmision] [datetime] NOT NULL,
	[MontoCertificado] [decimal](18, 2) NOT NULL,
	[Utilizado] [bit] NOT NULL CONSTRAINT [DF_VALE_Utilizado] DEFAULT ((0)),
 CONSTRAINT [PK_VALE] PRIMARY KEY CLUSTERED ([IdVale] ASC),
 CONSTRAINT [FK_VALE_Venta] FOREIGN KEY ([IdVenta]) REFERENCES [dbo].[VENTA] ([IdVenta]),
 -- VENTA 1 → 1 VALE
 CONSTRAINT [UQ_VALE_IdVenta] UNIQUE ([IdVenta])
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.COMANDA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[COMANDA](
	[IdComanda] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[FechaHoraEmision] [datetime] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_COMANDA] PRIMARY KEY CLUSTERED ([IdComanda] ASC),
 CONSTRAINT [FK_COMANDA_Venta] FOREIGN KEY ([IdVenta]) REFERENCES [dbo].[VENTA] ([IdVenta]),
 -- VENTA 1 → 0..1 COMANDA
 CONSTRAINT [UQ_COMANDA_IdVenta] UNIQUE ([IdVenta]),
 CONSTRAINT [CK_COMANDA_Estado] CHECK ([Estado] IN (N'Pendiente', N'Entregada'))
) ON [PRIMARY]
END
GO
-- Decisión 45: una base creada con el CHECK viejo (Pendiente/Lista) pasa a Pendiente/Entregada
IF EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_COMANDA_Estado' AND definition LIKE N'%Lista%')
BEGIN
    ALTER TABLE [dbo].[COMANDA] DROP CONSTRAINT [CK_COMANDA_Estado]
    EXEC (N'UPDATE [dbo].[COMANDA] SET Estado = N''Entregada'' WHERE Estado = N''Lista''')
    ALTER TABLE [dbo].[COMANDA] ADD CONSTRAINT [CK_COMANDA_Estado] CHECK ([Estado] IN (N'Pendiente', N'Entregada'))
END
GO
IF OBJECT_ID(N'dbo.AVISO_STOCK_BAJO', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[AVISO_STOCK_BAJO](
	[IdAviso] [int] IDENTITY(1,1) NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[VolumenPesoAlMomento] [decimal](18, 3) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	-- FK a ORDEN_COMPRA pendiente hasta crear las tablas de N02 (decisión 30)
	[IdOrdenCompra] [int] NULL,
 CONSTRAINT [PK_AVISO_STOCK_BAJO] PRIMARY KEY CLUSTERED ([IdAviso] ASC),
 CONSTRAINT [FK_AVISO_Insumo] FOREIGN KEY ([IdInsumo]) REFERENCES [dbo].[INSUMO] ([IdInsumo]),
 CONSTRAINT [CK_AVISO_Estado] CHECK ([Estado] IN (N'Pendiente', N'En compra', N'Resuelto'))
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.FACTURA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[FACTURA](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[NumeroComprobante] [int] NOT NULL,
	[FechaHoraEmision] [datetime] NOT NULL,
	-- Datos del cliente opcionales: sin datos = consumidor final (decisión 11)
	[NombreCliente] [nvarchar](100) NULL,
	[TelefonoCliente] [nvarchar](30) NULL,
	[CorreoCliente] [nvarchar](100) NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED ([IdFactura] ASC),
 CONSTRAINT [FK_FACTURA_Venta] FOREIGN KEY ([IdVenta]) REFERENCES [dbo].[VENTA] ([IdVenta]),
 -- VENTA 1 → 1 FACTURA
 CONSTRAINT [UQ_FACTURA_IdVenta] UNIQUE ([IdVenta]),
 CONSTRAINT [UQ_FACTURA_NumeroComprobante] UNIQUE ([NumeroComprobante]),
 CONSTRAINT [CK_FACTURA_Total] CHECK ([Total] >= 0)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.PROVEEDOR', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](100) NOT NULL,
	[CUIT] [nvarchar](13) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_PROVEEDOR_Activo] DEFAULT ((1)),
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED ([IdProveedor] ASC)
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.INSUMO_PROVEEDOR', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[INSUMO_PROVEEDOR](
	[IdInsumo] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
 CONSTRAINT [PK_INSUMO_PROVEEDOR] PRIMARY KEY CLUSTERED ([IdInsumo] ASC, [IdProveedor] ASC),
 CONSTRAINT [FK_IP_Insumo] FOREIGN KEY ([IdInsumo]) REFERENCES [dbo].[INSUMO] ([IdInsumo]),
 CONSTRAINT [FK_IP_Proveedor] FOREIGN KEY ([IdProveedor]) REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
) ON [PRIMARY]
END
GO
-- ══════════════════════════════════════════════════════════════
--  N01 - datos de prueba
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[TAMAÑO])
BEGIN
SET IDENTITY_INSERT [dbo].[TAMAÑO] ON
INSERT [dbo].[TAMAÑO] ([IdTamaño], [Nombre], [CantidadMagnitud], [UnidadMagnitud], [Activo]) VALUES (1, N'Vaso chico', 350, N'ml', 1)
INSERT [dbo].[TAMAÑO] ([IdTamaño], [Nombre], [CantidadMagnitud], [UnidadMagnitud], [Activo]) VALUES (2, N'Vaso grande', 500, N'ml', 1)
-- Tamaño de los piqueos (decisión 3)
INSERT [dbo].[TAMAÑO] ([IdTamaño], [Nombre], [CantidadMagnitud], [UnidadMagnitud], [Activo]) VALUES (3, N'Único', 1, N'porción', 1)
SET IDENTITY_INSERT [dbo].[TAMAÑO] OFF
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[PRODUCTO_TAMAÑO])
BEGIN
INSERT [dbo].[PRODUCTO_TAMAÑO] ([IdProducto], [IdTamaño], [Precio]) VALUES (1, 1, 5500)
INSERT [dbo].[PRODUCTO_TAMAÑO] ([IdProducto], [IdTamaño], [Precio]) VALUES (1, 2, 7500)
INSERT [dbo].[PRODUCTO_TAMAÑO] ([IdProducto], [IdTamaño], [Precio]) VALUES (2, 1, 6000)
INSERT [dbo].[PRODUCTO_TAMAÑO] ([IdProducto], [IdTamaño], [Precio]) VALUES (2, 2, 8000)
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[INSUMO])
BEGIN
SET IDENTITY_INSERT [dbo].[INSUMO] ON
INSERT [dbo].[INSUMO] ([IdInsumo], [Nombre], [UnidadMedida], [UnidadCompra], [EquivalenciaMagnitud], [VolumenPesoDisponible], [UmbralReposicion], [CostoUnidadCompra], [AvisoStockBajo], [Activo]) VALUES (1, N'Fernet', N'ml', N'Botella 750 ml', 750, 3000, 1500, 9000, 0, 1)
INSERT [dbo].[INSUMO] ([IdInsumo], [Nombre], [UnidadMedida], [UnidadCompra], [EquivalenciaMagnitud], [VolumenPesoDisponible], [UmbralReposicion], [CostoUnidadCompra], [AvisoStockBajo], [Activo]) VALUES (2, N'Gaseosa cola', N'ml', N'Botella 2,25 L', 2250, 9000, 4500, 2500, 0, 1)
-- Cerca del umbral: el 3.º Mojito chico (87,5 ml c/u) lo deja bajo 1000 ml
INSERT [dbo].[INSUMO] ([IdInsumo], [Nombre], [UnidadMedida], [UnidadCompra], [EquivalenciaMagnitud], [VolumenPesoDisponible], [UmbralReposicion], [CostoUnidadCompra], [AvisoStockBajo], [Activo]) VALUES (3, N'Ron blanco', N'ml', N'Botella 1 L', 1000, 1200, 1000, 12000, 0, 1)
SET IDENTITY_INSERT [dbo].[INSUMO] OFF
END
GO
-- Proporcion = insumo consumido por unidad de magnitud del tamaño (decisión 4)
IF NOT EXISTS (SELECT 1 FROM [dbo].[RECETA])
BEGIN
INSERT [dbo].[RECETA] ([IdProducto], [IdInsumo], [Proporcion]) VALUES (1, 1, 0.300)
INSERT [dbo].[RECETA] ([IdProducto], [IdInsumo], [Proporcion]) VALUES (1, 2, 0.700)
INSERT [dbo].[RECETA] ([IdProducto], [IdInsumo], [Proporcion]) VALUES (2, 3, 0.250)
INSERT [dbo].[RECETA] ([IdProducto], [IdInsumo], [Proporcion]) VALUES (2, 4, 0.750)
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[PROVEEDOR])
BEGIN
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [RazonSocial], [CUIT], [Telefono], [Correo], [Activo]) VALUES (1, N'Distribuidora Norte', N'30-71234567-8', N'011 4555-1234', N'ventas@distnorte.com.ar', 1)
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [RazonSocial], [CUIT], [Telefono], [Correo], [Activo]) VALUES (2, N'Alimentos del Sur', N'30-79876543-2', N'011 4666-5678', N'pedidos@alimsur.com.ar', 1)
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
END
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[INSUMO_PROVEEDOR])
BEGIN
INSERT [dbo].[INSUMO_PROVEEDOR] ([IdInsumo], [IdProveedor]) VALUES (1, 1)
INSERT [dbo].[INSUMO_PROVEEDOR] ([IdInsumo], [IdProveedor]) VALUES (2, 1)
INSERT [dbo].[INSUMO_PROVEEDOR] ([IdInsumo], [IdProveedor]) VALUES (4, 1)
INSERT [dbo].[INSUMO_PROVEEDOR] ([IdInsumo], [IdProveedor]) VALUES (3, 2)
END
GO
-- Recetas de prueba completas (decisión 57): insumos que faltaban para preparar los productos.
-- Se agregan por nombre, sin pisar lo que ya exista (la base puede tener insumos cargados desde la app).
DECLARE @Insumos TABLE (Nombre NVARCHAR(100), UnidadMedida NVARCHAR(20), UnidadCompra NVARCHAR(50), Equivalencia DECIMAL(18,3), Stock DECIMAL(18,3), Umbral DECIMAL(18,3), Costo DECIMAL(18,2), IdProveedor INT)
INSERT @Insumos VALUES
 (N'Aceite de girasol', N'ml', N'Botella 1,5 L', 1500, 6000, 1500, 4500, 2),
 (N'Sal fina', N'g', N'Paquete 500 g', 500, 2000, 500, 900, 2),
 (N'Jugo de lima', N'ml', N'Botella 1 L', 1000, 3000, 1000, 6000, 1),
 (N'Azúcar', N'g', N'Paquete 1 kg', 1000, 5000, 1000, 1500, 2),
 (N'Menta fresca', N'g', N'Atado 100 g', 100, 500, 100, 1200, 1),
 (N'Hielo', N'g', N'Bolsa 2 kg', 2000, 20000, 6000, 2500, 1)
INSERT [dbo].[INSUMO] ([Nombre], [UnidadMedida], [UnidadCompra], [EquivalenciaMagnitud], [VolumenPesoDisponible], [UmbralReposicion], [CostoUnidadCompra], [AvisoStockBajo], [Activo])
SELECT I.Nombre, I.UnidadMedida, I.UnidadCompra, I.Equivalencia, I.Stock, I.Umbral, I.Costo, 0, 1 FROM @Insumos I
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[INSUMO] X WHERE X.Nombre = I.Nombre)
INSERT [dbo].[INSUMO_PROVEEDOR] ([IdInsumo], [IdProveedor])
SELECT X.IdInsumo, I.IdProveedor FROM @Insumos I INNER JOIN [dbo].[INSUMO] X ON X.Nombre = I.Nombre
WHERE EXISTS (SELECT 1 FROM [dbo].[PROVEEDOR] P WHERE P.IdProveedor = I.IdProveedor)
  AND NOT EXISTS (SELECT 1 FROM [dbo].[INSUMO_PROVEEDOR] IP WHERE IP.IdInsumo = X.IdInsumo AND IP.IdProveedor = I.IdProveedor)

DECLARE @Lineas TABLE (Producto NVARCHAR(100), Insumo NVARCHAR(100), Proporcion DECIMAL(18,3))
INSERT @Lineas VALUES
 (N'Papas fritas', N'Aceite de girasol', 40.000),
 (N'Papas fritas', N'Sal fina', 2.000),
 (N'Mojito', N'Jugo de lima', 0.080),
 (N'Mojito', N'Azúcar', 0.040),
 (N'Mojito', N'Menta fresca', 0.020),
 (N'Mojito', N'Hielo', 0.500),
 (N'Fernet con Coca', N'Hielo', 0.400)
INSERT [dbo].[RECETA] ([IdProducto], [IdInsumo], [Proporcion])
SELECT P.IdProducto, X.IdInsumo, L.Proporcion FROM @Lineas L
INNER JOIN [dbo].[PRODUCTO] P ON P.Nombre = L.Producto
INNER JOIN [dbo].[INSUMO] X ON X.Nombre = L.Insumo
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[RECETA] R WHERE R.IdProducto = P.IdProducto AND R.IdInsumo = X.IdInsumo)
GO
-- ══════════════════════════════════════════════════════════════
--  CU023 - Insertar Insumo: permiso y textos multi-idioma de frmInsumo
--  (se agregan por nombre, sin pisar lo que ya exista)
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Insumos')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Gestion Insumos', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Gestion Insumos')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Insumos'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
-- Decisión 52: el stock inicial se carga en unidades de compra (actualiza el texto si ya existía)
UPDATE TR SET TR.[TextoTraducido] = CASE TR.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM [dbo].[Traduccion] TR
INNER JOIN [dbo].[Control] C ON C.IdControl = TR.IdControl
INNER JOIN @Textos T ON T.NombreControl = C.NombreControl AND T.NombreFormulario = C.NombreFormulario
WHERE C.NombreControl = N'lblStockInicialfrmInsumo' AND TR.IdIdioma IN (1, 2)
  AND TR.[TextoTraducido] <> CASE TR.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
GO
-- ══════════════════════════════════════════════════════════════
--  CU013 / CU014 - Recetas: permiso y textos multi-idioma de frmReceta
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Recetas')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Gestion Recetas', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Gestion Recetas')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Recetas'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  CU006 / CU008 - Productos con tamaños y precios: textos multi-idioma de frmProducto
-- ══════════════════════════════════════════════════════════════
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  CU010 / CU015 - Venta y factura: permiso, menú y textos de frmVenta
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Ventas')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Gestion Ventas', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Gestion Ventas')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Ventas'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  CU011 - Confirmar Entrega de Piqueos: permiso, menú y textos de frmComanda
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Comandas')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Gestion Comandas', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Gestion Comandas')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Comandas'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  CU012 - Confirmar Entrega de Bebidas: permiso, menú y textos de frmEntrega
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Entregas')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Gestion Entregas', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Gestion Entregas')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Gestion Entregas'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  Consultas de ventas y vales (decisión 56): permisos, menú y textos
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Consulta Ventas')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Consulta Ventas', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Consulta Ventas')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Consulta Ventas'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  Consultas: permiso de vales
-- ══════════════════════════════════════════════════════════════
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Consulta Vales')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia])
    SELECT ISNULL(MAX(Id), 0) + 1, N'Consulta Vales', 0 FROM [dbo].[PERMISO]
GO
IF EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Id = 13 AND EsFamilia = 1)
   AND NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO_RELACION] R
                   INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdHijo
                   WHERE R.IdPadre = 13 AND P.Nombre = N'Consulta Vales')
    INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
    SELECT 13, Id FROM [dbo].[PERMISO] WHERE Nombre = N'Consulta Vales'
GO
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
-- ══════════════════════════════════════════════════════════════
--  Tablero del menú principal (decisión 56): textos de frmMenú y frmStockBajo
-- ══════════════════════════════════════════════════════════════
DECLARE @Textos TABLE (NombreControl NVARCHAR(100), NombreFormulario NVARCHAR(100), Es NVARCHAR(600), En NVARCHAR(600))

INSERT [dbo].[Control] ([NombreControl], [NombreFormulario])
SELECT T.NombreControl, T.NombreFormulario FROM @Textos T
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Control] C WHERE C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario)

INSERT [dbo].[Traduccion] ([IdControl], [IdIdioma], [TextoTraducido])
SELECT C.IdControl, I.IdIdioma, CASE I.IdIdioma WHEN 1 THEN T.Es ELSE T.En END
FROM @Textos T
INNER JOIN [dbo].[Control] C ON C.NombreControl = T.NombreControl AND C.NombreFormulario = T.NombreFormulario
INNER JOIN [dbo].[Idioma] I ON I.IdIdioma IN (1, 2)
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Traduccion] TR WHERE TR.IdControl = C.IdControl AND TR.IdIdioma = I.IdIdioma)
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarDVHProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ActualizarDVHProducto
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ActualizarDVHProducto]
    @IdProducto INT,
    @DVH        NVARCHAR(300)
AS BEGIN
    UPDATE PRODUCTO SET DVH = @DVH WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarIdiomaUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ActualizarIdiomaUsuario]
    @IdUsuario INT,
    @IdIdioma  INT
AS
    UPDATE USUARIO
    SET    IdIdioma = @IdIdioma
    WHERE  IdUsuario = @IdUsuario

GO
/****** Objeto: StoredProcedure [dbo].[AgregarIdioma] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[AgregarIdioma]
    @Nombre NVARCHAR(50)
AS
BEGIN
    INSERT INTO Idioma (Nombre, IsDisponible)
    VALUES (@Nombre, 0)

    DECLARE @IdIdioma INT = SCOPE_IDENTITY()

    INSERT INTO Traduccion (IdControl, IdIdioma, TextoTraducido)
    SELECT IdControl, @IdIdioma, NULL  -- ← NULL para que el COALESCE funcione
    FROM   Control

    SELECT @IdIdioma AS IdIdioma
END



GO
/****** Objeto: StoredProcedure [dbo].[AgregarPermisoHijo] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[AgregarPermisoHijo]
    @IdPadre INT,
    @IdHijo  INT
AS BEGIN
    IF NOT EXISTS (SELECT 1 FROM PERMISO_RELACION
                   WHERE IdPadre = @IdPadre AND IdHijo = @IdHijo)
        INSERT INTO PERMISO_RELACION (IdPadre, IdHijo)
        VALUES (@IdPadre, @IdHijo)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaControlCambios] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Alta Control Cambios
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[AltaControlCambios]
    @IdUsuario       INT,
    @IdProducto      INT,
    @CampoModificado NVARCHAR(100),
    @ValorAnterior   NVARCHAR(300),
    @ValorActual     NVARCHAR(300),
    @FechaModificacion DATETIME,
    @TipoOperacion   NVARCHAR(50)
AS BEGIN
    INSERT INTO CONTROL_CAMBIOS
        (IdUsuario, IdProducto, CampoModificado, ValorAnterior,
         ValorActual, FechaModificacion, TipoOperacion)
    VALUES
        (@IdUsuario, @IdProducto, @CampoModificado, @ValorAnterior,
         @ValorActual, @FechaModificacion, @TipoOperacion)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaPermiso] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[AltaPermiso]
    @Nombre    NVARCHAR(100),
    @EsFamilia BIT
AS BEGIN
    DECLARE @Id INT
    SET @Id = (SELECT ISNULL(MAX(Id), 0) + 1 FROM PERMISO)
    INSERT INTO PERMISO (Id, Nombre, EsFamilia)
    VALUES (@Id, @Nombre, @EsFamilia)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[AltaProducto]
    @Nombre NVARCHAR(100),
    @Tipo   NVARCHAR(50),
    @DVH    NVARCHAR(300)
AS BEGIN
    -- Nombre duplicado (decisión 25): sin distinguir mayúsculas, contra activos e inactivos
    IF EXISTS (SELECT 1 FROM PRODUCTO WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('Ya existe un producto con ese nombre.',16,1)
        RETURN
    END
    DECLARE @IdProducto INT
    SET @IdProducto = (SELECT ISNULL(MAX(IdProducto),0)+1 FROM PRODUCTO)
    INSERT INTO PRODUCTO (IdProducto, Nombre, Tipo, Activo, DVH)
    VALUES (@IdProducto, @Nombre, @Tipo, 1, @DVH)
    SELECT @IdProducto AS IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[AltaUsuario]
(
    @CorreoElectronico NVARCHAR(50),
    @ContraseñaUsuario NVARCHAR(300),
    @NombreUsuario NVARCHAR(50),
    @ApellidoUsuario NVARCHAR(50),
    @Dni INT
)
AS
BEGIN
IF EXISTS (SELECT 1 FROM USUARIO WHERE CorreoElectronico = @CorreoElectronico)
BEGIN
RAISERROR('Ya existe un usuario con ese correo electrónico.',16,1)
RETURN
END

IF EXISTS (SELECT 1 FROM USUARIO WHERE Dni = @Dni)
BEGIN
RAISERROR('Ya existe un usuario con ese DNI.',16,2)
RETURN
END

DECLARE @IdUsuario INT
SET @IdUsuario =(SELECT ISNULL(MAX(IdUsuario),0) + 1 FROM USUARIO)
INSERT INTO USUARIO(IdUsuario,CorreoElectronico,ContraseñaUsuario,NombreUsuario,ApellidoUsuario,Dni)
VALUES(@IdUsuario,@CorreoElectronico,@ContraseñaUsuario,@NombreUsuario,@ApellidoUsuario,@Dni)
END
GO
/****** Objeto: StoredProcedure [dbo].[AsignarPermisoAUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[AsignarPermisoAUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_PERMISO
                   WHERE IdUsuario = @IdUsuario AND IdPermiso = @IdPermiso)
        INSERT INTO USUARIO_PERMISO (IdUsuario, IdPermiso)
        VALUES (@IdUsuario, @IdPermiso)
END
GO
/****** Objeto: StoredProcedure [dbo].[BajaProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[BajaProducto]
    @IdProducto INT,
    @DVH        NVARCHAR(300)
AS
BEGIN
    -- Baja lógica (decisión 26): nunca DELETE
    UPDATE PRODUCTO SET Activo = 0, DVH = @DVH WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[BajaUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[BajaUsuario]
@IdUsuario int 
AS
BEGIN
DELETE FROM USUARIO WHERE IdUsuario=@IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[DesasignarPermisoDeUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[DesasignarPermisoDeUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS
BEGIN
    DELETE FROM USUARIO_PERMISO
    WHERE IdUsuario = @IdUsuario AND IdPermiso = @IdPermiso
END
GO
/****** Objeto: StoredProcedure [dbo].[EliminarPermiso] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[EliminarPermiso]
    @Id INT
AS BEGIN
    DELETE FROM PERMISO_RELACION WHERE IdPadre = @Id OR IdHijo = @Id
    DELETE FROM USUARIO_PERMISO   WHERE IdPermiso = @Id
    DELETE FROM PERMISO           WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[EsHijoDeAlguien] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[EsHijoDeAlguien]
    @IdHijo INT
AS BEGIN
    SELECT IdPadre FROM PERMISO_RELACION WHERE IdHijo = @IdHijo
END
GO
/****** Objeto: StoredProcedure [dbo].[GuardarDVV] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP GuardarDVV
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[GuardarDVV]
    @NombreTabla NVARCHAR(50),
    @DVV         NVARCHAR(300)
AS BEGIN
    IF EXISTS (SELECT 1 FROM DIGITO_VERIFICADOR WHERE NombreTabla = @NombreTabla)
        UPDATE DIGITO_VERIFICADOR SET DVV = @DVV WHERE NombreTabla = @NombreTabla
    ELSE
        INSERT INTO DIGITO_VERIFICADOR (NombreTabla, DVV) VALUES (@NombreTabla, @DVV)
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarBitacora] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[InsertarBitacora]
    @IdUsuario INT,
    @Actividad VARCHAR(100),
    @InformacionAsociada VARCHAR(200)
AS
BEGIN
DECLARE @NuevoId INT;
SELECT @NuevoId = ISNULL(MAX(IdBitacora), 0) + 1 FROM BITACORA;

INSERT INTO BITACORA (
        IdBitacora,   
        IdUsuario, 
        FechaHora, 
        Actividad, 
        InformacionAsociada
    )
VALUES (
        @NuevoId,       -- Insertamos el número que acabamos de calcular
        @IdUsuario, 
        GETDATE(), 
        @Actividad, 
        @InformacionAsociada
    );

END
GO
/****** Objeto: StoredProcedure [dbo].[LeerUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[LeerUsuario]
@CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300)
AS
BEGIN
SELECT NombreUsuario
      ,ApellidoUsuario
      ,Dni
      ,CorreoElectronico
      ,ContraseñaUsuario
	  ,IdUsuario
      ,IdIdioma
	  FROM USUARIO
WHERE CorreoElectronico = @CorreoElectronico
AND ContraseñaUsuario = @ContraseñaUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarCambiosPorProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Listar cambios por producto
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ListarCambiosPorProducto]
    @IdProducto INT
AS BEGIN
    SELECT CC.IdCambio, CC.IdUsuario, CC.IdProducto,
           CC.CampoModificado, CC.ValorAnterior, CC.ValorActual,
           CC.FechaModificacion, CC.TipoOperacion
    FROM CONTROL_CAMBIOS CC
    WHERE CC.IdProducto = @IdProducto
    ORDER BY CC.IdCambio DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarControlCambios] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Listar todos los cambios
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ListarControlCambios]
AS BEGIN
    SELECT CC.IdCambio, CC.IdUsuario, CC.IdProducto,
           CC.CampoModificado, CC.ValorAnterior, CC.ValorActual,
           CC.FechaModificacion, CC.TipoOperacion
    FROM CONTROL_CAMBIOS CC
    ORDER BY CC.IdCambio DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarIdiomas] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarIdiomas]
AS
BEGIN
    SELECT IdIdioma, Nombre, IsDisponible
    FROM   Idioma
    ORDER BY IdIdioma
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisos] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ListarPermisos]
AS BEGIN
    SELECT Id, Nombre, EsFamilia FROM PERMISO
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosPorUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ListarPermisosPorUsuario]
    @IdUsuario INT
AS BEGIN
    SELECT IdPermiso FROM USUARIO_PERMISO WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosRaiz] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ListarPermisosRaiz]
AS BEGIN
    SELECT Id FROM PERMISO
    WHERE Id NOT IN (SELECT IdHijo FROM PERMISO_RELACION)
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosRelaciones] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ListarPermisosRelaciones]
AS BEGIN
    SELECT IdPadre, IdHijo FROM PERMISO_RELACION
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarProducto]
AS BEGIN
    -- Todos los productos (activos e inactivos): lo usa el dígito verificador
    SELECT IdProducto, Nombre, Tipo, Activo, DVH
    FROM PRODUCTO
    ORDER BY IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarProductoActivo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoActivo]
AS BEGIN
    SELECT IdProducto, Nombre, Tipo, Activo, DVH
    FROM PRODUCTO
    WHERE Activo = 1
    ORDER BY IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarProductoConDVH] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ListarProductoConDVH
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoConDVH]
AS BEGIN
    SELECT IdProducto, Nombre, Tipo, Activo, DVH
    FROM PRODUCTO
    ORDER BY IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarUsuario]
AS
BEGIN
SELECT * FROM USUARIO
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarNombreIdioma] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. Modificar nombre de un idioma
-- ============================================================
CREATE OR ALTER PROCEDURE [dbo].[ModificarNombreIdioma]
    @IdIdioma INT,
    @Nombre   NVARCHAR(50)
AS
BEGIN
    UPDATE Idioma
    SET    Nombre = @Nombre
    WHERE  IdIdioma = @IdIdioma
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarPermiso] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ModificarPermiso]
    @Id        INT,
    @Nombre    NVARCHAR(100),
    @EsFamilia BIT
AS BEGIN
    UPDATE PERMISO SET Nombre = @Nombre, EsFamilia = @EsFamilia
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarProducto] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  MODIFICAR SP ModificarProducto
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ModificarProducto]
    @IdProducto INT,
    @Nombre     NVARCHAR(100),
    @Tipo       NVARCHAR(50),
    @DVH        NVARCHAR(300)
AS BEGIN
    IF EXISTS (SELECT 1 FROM PRODUCTO WHERE Nombre = @Nombre AND IdProducto <> @IdProducto)
    BEGIN
        RAISERROR('Ya existe un producto con ese nombre.',16,1)
        RETURN
    END
    UPDATE PRODUCTO SET
        Nombre = @Nombre,
        Tipo   = @Tipo,
        DVH    = @DVH
    WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarTraduccion] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 5. Modificar una traducción
-- ============================================================
CREATE OR ALTER PROCEDURE [dbo].[ModificarTraduccion]
    @IdControl      INT,
    @IdIdioma       INT,
    @TextoTraducido NVARCHAR(200)
AS
BEGIN
    UPDATE Traduccion
    SET    TextoTraducido = @TextoTraducido
    WHERE  IdControl = @IdControl
      AND  IdIdioma  = @IdIdioma
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarUsuario] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ModificarUsuario]
@IdUsuario int, @NombreUsuario nvarchar(50), @ApellidoUsuario nvarchar(50), @Dni int, @CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300) 
AS
BEGIN
UPDATE USUARIO SET NombreUsuario = @NombreUsuario, ApellidoUsuario = @ApellidoUsuario, Dni = @Dni,
CorreoElectronico = @CorreoElectronico, ContraseñaUsuario = @ContraseñaUsuario
WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerBitacora] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ObtenerBitacora]
    @IdUsuario INT = NULL,
    @Actividad VARCHAR(100) = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL
AS
BEGIN
   SELECT 
        IdBitacora,
        FechaHora, 
        IdUsuario, 
        Actividad, 
        InformacionAsociada
    FROM 
        BITACORA
    WHERE 
        -- Filtra por IdUsuario solo si se envió un valor
        (@IdUsuario IS NULL OR IdUsuario = @IdUsuario)
        
        -- Filtra por Actividad solo si se envió un valor (búsqueda exacta)
        AND (@Actividad IS NULL OR Actividad = @Actividad)
        
        -- Filtra por rango de fechas. Si solo envías 'Desde', trae de ahí en adelante.
        -- Si solo envías 'Hasta', trae todo hasta esa fecha.
        AND (@FechaDesde IS NULL OR FechaHora >= @FechaDesde)
        AND (@FechaHasta IS NULL OR FechaHora <= @FechaHasta)
    
    --Ordenamos los resultados del más reciente al más antiguo
    ORDER BY 
        FechaHora DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerDVV] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ObtenerDVV
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[ObtenerDVV]
    @NombreTabla NVARCHAR(50)
AS BEGIN
    SELECT NombreTabla, DVV
    FROM DIGITO_VERIFICADOR
    WHERE NombreTabla = @NombreTabla
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerProductoPorId] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ObtenerProductoPorId]
    @IdProducto INT
AS
BEGIN
    SELECT IdProducto, Nombre, Tipo, Activo, DVH
    FROM PRODUCTO
    WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTraduccionesConDetalle] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- 1. Detalle de traducciones para un idioma
-- ============================================================
CREATE OR ALTER PROCEDURE [dbo].[ObtenerTraduccionesConDetalle]
    @IdIdioma INT
AS
BEGIN
    SELECT c.IdControl,
           c.NombreControl,
           c.NombreFormulario,
           t.TextoTraducido
    FROM   Control c
    INNER JOIN Traduccion t ON c.IdControl = t.IdControl
    WHERE  t.IdIdioma = @IdIdioma
    ORDER BY c.NombreFormulario, c.NombreControl
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTraduccionesPorIdioma] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ObtenerTraduccionesPorIdioma]
    @IdIdioma INT
AS
BEGIN
    SELECT
        c.NombreControl,
        c.NombreFormulario,
        COALESCE(
            CASE WHEN LTRIM(RTRIM(ISNULL(t_pedido.TextoTraducido, ''))) = ''
                 THEN NULL
                 ELSE t_pedido.TextoTraducido END,
            CASE WHEN t_espanol.TextoTraducido IS NULL
                 THEN NULL
                 ELSE '[' + t_espanol.TextoTraducido + ']' END,
            '[' + c.NombreControl + ']'
        ) AS TextoTraducido
    FROM Control c
    LEFT JOIN Traduccion t_pedido
        ON  t_pedido.IdControl = c.IdControl
        AND t_pedido.IdIdioma  = @IdIdioma
    LEFT JOIN Traduccion t_espanol
        ON  t_espanol.IdControl = c.IdControl
        AND t_espanol.IdIdioma  = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[QuitarPermisoHijo] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[QuitarPermisoHijo]
    @IdPadre INT,
    @IdHijo  INT
AS BEGIN
    DELETE FROM PERMISO_RELACION
    WHERE IdPadre = @IdPadre AND IdHijo = @IdHijo
END
GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════
--  SP: Realizar Backup de BD completa
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[RealizarBackup]
    @RutaDestinoCompleta NVARCHAR(500)
AS BEGIN
    DECLARE @sql NVARCHAR(1000)
    SET @sql = 'BACKUP DATABASE [TpIngSoftware_2026] TO DISK = ''' 
               + @RutaDestinoCompleta + ''' WITH FORMAT, INIT, NAME = ''Backup completo'''
    EXEC sp_executesql @sql
END
GO
/****** Objeto: StoredProcedure [dbo].[RealizarRestore] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Realizar Restore de BD completa
-- ══════════════════════════════════════════
CREATE OR ALTER PROCEDURE [dbo].[RealizarRestore]
    @RutaDestinoCompleta NVARCHAR(500)
AS BEGIN
    DECLARE @sql NVARCHAR(1000)

    -- Poner la BD en modo single user para el restore
    SET @sql = 'ALTER DATABASE [TpIngSoftware_2026] SET SINGLE_USER WITH ROLLBACK IMMEDIATE'
    EXEC sp_executesql @sql

    -- Realizar el restore
    SET @sql = 'RESTORE DATABASE [TpIngSoftware_2026] FROM DISK = ''' 
               + @RutaDestinoCompleta + ''' WITH REPLACE'
    EXEC sp_executesql @sql

    -- Volver a modo multi user
    SET @sql = 'ALTER DATABASE [TpIngSoftware_2026] SET MULTI_USER'
    EXEC sp_executesql @sql
END
GO
/****** Objeto: StoredProcedure [dbo].[ToggleDisponibilidadIdioma] Fecha de script: 23/09/2026 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. Habilitar / Deshabilitar idioma
-- ============================================================
CREATE OR ALTER PROCEDURE [dbo].[ToggleDisponibilidadIdioma]
    @IdIdioma INT
AS
BEGIN
    UPDATE Idioma
    SET    IsDisponible = CASE WHEN IsDisponible = 1 THEN 0 ELSE 1 END
    WHERE  IdIdioma = @IdIdioma

    SELECT IsDisponible FROM Idioma WHERE IdIdioma = @IdIdioma
END
GO
-- ══════════════════════════════════════════════════════════════
--  N01 - STORED PROCEDURES
--  Nombre del SP = método del mapper (diagrama de clases vigente de EA).
--  Los SP solo leen y escriben; las reglas de negocio están en la BLL,
--  salvo el control de duplicados (RAISERROR), como en AltaProducto.
--  No abren transacciones: la BLL agrupa las escrituras de un CU con
--  los métodos de transacción de ACCESO (decisión 27).
-- ══════════════════════════════════════════════════════════════
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── TAMAÑO / PRODUCTO_TAMAÑO ─────────────────────────────────
-- CU010 paso 1: productos activos con sus tamaños activos y precio
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoTamanioActivo]
AS BEGIN
    SELECT P.IdProducto, P.Nombre AS NombreProducto, P.Tipo,
           T.[IdTamaño], T.Nombre AS NombreTamanio, T.CantidadMagnitud, T.UnidadMagnitud,
           PT.Precio
    FROM [PRODUCTO_TAMAÑO] PT
    INNER JOIN PRODUCTO P ON P.IdProducto = PT.IdProducto
    INNER JOIN [TAMAÑO] T ON T.[IdTamaño] = PT.[IdTamaño]
    WHERE P.Activo = 1 AND T.Activo = 1
      -- Supuesto S1 (decisión 53): un producto sin receta no se vende
      AND EXISTS (SELECT 1 FROM RECETA R WHERE R.IdProducto = P.IdProducto)
    ORDER BY P.Nombre, T.CantidadMagnitud
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarTamanioActivo]
AS BEGIN
    SELECT [IdTamaño], Nombre, CantidadMagnitud, UnidadMagnitud, Activo
    FROM [TAMAÑO]
    WHERE Activo = 1
    ORDER BY CantidadMagnitud
END
GO
-- Alta o actualización del precio de un producto en un tamaño
CREATE OR ALTER PROCEDURE [dbo].[GuardarProductoTamanio]
    @IdProducto INT,
    @IdTamanio  INT,
    @Precio     DECIMAL(18,2)
AS BEGIN
    IF EXISTS (SELECT 1 FROM [PRODUCTO_TAMAÑO] WHERE IdProducto = @IdProducto AND [IdTamaño] = @IdTamanio)
        UPDATE [PRODUCTO_TAMAÑO] SET Precio = @Precio
        WHERE IdProducto = @IdProducto AND [IdTamaño] = @IdTamanio
    ELSE
        INSERT INTO [PRODUCTO_TAMAÑO] (IdProducto, [IdTamaño], Precio)
        VALUES (@IdProducto, @IdTamanio, @Precio)
END
GO
-- ── INSUMO ───────────────────────────────────────────────────
CREATE OR ALTER PROCEDURE [dbo].[BuscarInsumo]
    @IdInsumo INT
AS BEGIN
    SELECT IdInsumo, Nombre, UnidadMedida, UnidadCompra, EquivalenciaMagnitud,
           VolumenPesoDisponible, UmbralReposicion, CostoUnidadCompra, AvisoStockBajo, Activo
    FROM INSUMO
    WHERE IdInsumo = @IdInsumo
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarInsumo]
AS BEGIN
    SELECT IdInsumo, Nombre, UnidadMedida, UnidadCompra, EquivalenciaMagnitud,
           VolumenPesoDisponible, UmbralReposicion, CostoUnidadCompra, AvisoStockBajo, Activo
    FROM INSUMO
    ORDER BY Nombre
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarInsumoActivo]
AS BEGIN
    SELECT IdInsumo, Nombre, UnidadMedida, UnidadCompra, EquivalenciaMagnitud,
           VolumenPesoDisponible, UmbralReposicion, CostoUnidadCompra, AvisoStockBajo, Activo
    FROM INSUMO
    WHERE Activo = 1
    ORDER BY Nombre
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarInsumoConAvisoPendiente]
AS BEGIN
    SELECT IdInsumo, Nombre, UnidadMedida, UnidadCompra, EquivalenciaMagnitud,
           VolumenPesoDisponible, UmbralReposicion, CostoUnidadCompra, AvisoStockBajo, Activo
    FROM INSUMO
    WHERE AvisoStockBajo = 1
    ORDER BY Nombre
END
GO
-- El nuevo valor lo calcula INSUMO_BLL; CK_INSUMO_VolumenPeso impide que quede negativo
CREATE OR ALTER PROCEDURE [dbo].[ActualizarVolumenPesoInsumo]
    @IdInsumo  INT,
    @NuevoValor DECIMAL(18,3)
AS BEGIN
    UPDATE INSUMO SET VolumenPesoDisponible = @NuevoValor WHERE IdInsumo = @IdInsumo
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ActualizarCostoInsumo]
    @IdInsumo          INT,
    @CostoUnidadCompra DECIMAL(18,2)
AS BEGIN
    UPDATE INSUMO SET CostoUnidadCompra = @CostoUnidadCompra WHERE IdInsumo = @IdInsumo
END
GO
-- Registra el aviso y marca el flag del insumo (decisión 8)
CREATE OR ALTER PROCEDURE [dbo].[GuardarAvisoStockBajo]
    @IdInsumo             INT,
    @FechaHora            DATETIME,
    @VolumenPesoAlMomento DECIMAL(18,3)
AS BEGIN
    INSERT INTO AVISO_STOCK_BAJO (IdInsumo, FechaHora, VolumenPesoAlMomento, Estado, IdOrdenCompra)
    VALUES (@IdInsumo, @FechaHora, @VolumenPesoAlMomento, N'Pendiente', NULL)
    DECLARE @IdAviso INT = SCOPE_IDENTITY()
    UPDATE INSUMO SET AvisoStockBajo = 1 WHERE IdInsumo = @IdInsumo
    SELECT @IdAviso AS IdAviso
END
GO
-- ABM de insumos (CU023): nombre duplicado contra activos e inactivos
CREATE OR ALTER PROCEDURE [dbo].[AltaInsumo]
    @Nombre                NVARCHAR(100),
    @UnidadMedida          NVARCHAR(20),
    @UnidadCompra          NVARCHAR(50),
    @EquivalenciaMagnitud  DECIMAL(18,3),
    @VolumenPesoDisponible DECIMAL(18,3),
    @UmbralReposicion      DECIMAL(18,3),
    @CostoUnidadCompra     DECIMAL(18,2)
AS BEGIN
    IF EXISTS (SELECT 1 FROM INSUMO WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('Ya existe un insumo con ese nombre.',16,1)
        RETURN
    END
    INSERT INTO INSUMO (Nombre, UnidadMedida, UnidadCompra, EquivalenciaMagnitud,
                        VolumenPesoDisponible, UmbralReposicion, CostoUnidadCompra, AvisoStockBajo, Activo)
    VALUES (@Nombre, @UnidadMedida, @UnidadCompra, @EquivalenciaMagnitud,
            @VolumenPesoDisponible, @UmbralReposicion, @CostoUnidadCompra, 0, 1)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdInsumo
END
GO
-- ABM de insumos (CU024): no modifica UnidadMedida ni el stock (decisión 37)
CREATE OR ALTER PROCEDURE [dbo].[ModificarInsumo]
    @IdInsumo             INT,
    @Nombre               NVARCHAR(100),
    @UnidadCompra         NVARCHAR(50),
    @EquivalenciaMagnitud DECIMAL(18,3),
    @UmbralReposicion     DECIMAL(18,3),
    @CostoUnidadCompra    DECIMAL(18,2)
AS BEGIN
    IF EXISTS (SELECT 1 FROM INSUMO WHERE Nombre = @Nombre AND IdInsumo <> @IdInsumo)
    BEGIN
        RAISERROR('Ya existe un insumo con ese nombre.',16,1)
        RETURN
    END
    UPDATE INSUMO SET
        Nombre               = @Nombre,
        UnidadCompra         = @UnidadCompra,
        EquivalenciaMagnitud = @EquivalenciaMagnitud,
        UmbralReposicion     = @UmbralReposicion,
        CostoUnidadCompra    = @CostoUnidadCompra
    WHERE IdInsumo = @IdInsumo
END
GO
-- ABM de insumos (CU025): baja lógica
CREATE OR ALTER PROCEDURE [dbo].[BajaInsumo]
    @IdInsumo INT
AS BEGIN
    UPDATE INSUMO SET Activo = 0 WHERE IdInsumo = @IdInsumo
END
GO
-- CU025 FA1: productos activos cuya receta usa el insumo
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoActivoPorInsumo]
    @IdInsumo INT
AS BEGIN
    SELECT P.IdProducto, P.Nombre, P.Tipo, P.Activo, P.DVH
    FROM RECETA R
    INNER JOIN PRODUCTO P ON P.IdProducto = R.IdProducto
    WHERE R.IdInsumo = @IdInsumo AND P.Activo = 1
    ORDER BY P.Nombre
END
GO
-- ── PRODUCTO_TAMAÑO (CU006 / CU008) ─────────────────────────
-- MAPPER_PRODUCTO.ListarPreciosPorProducto
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoTamanioPorProducto]
    @IdProducto INT
AS BEGIN
    SELECT PT.IdProducto, T.[IdTamaño], T.Nombre AS NombreTamanio, T.CantidadMagnitud, T.UnidadMagnitud, PT.Precio
    FROM [PRODUCTO_TAMAÑO] PT
    INNER JOIN [TAMAÑO] T ON T.[IdTamaño] = PT.[IdTamaño]
    WHERE PT.IdProducto = @IdProducto
    ORDER BY T.CantidadMagnitud
END
GO
-- MAPPER_PRODUCTO.QuitarPrecio: borra la fila de relación (decisión 53) si el tamaño no tiene ventas
CREATE OR ALTER PROCEDURE [dbo].[QuitarProductoTamanio]
    @IdProducto INT,
    @IdTamanio  INT
AS BEGIN
    IF EXISTS (SELECT 1 FROM VENTA_DETALLE WHERE IdProducto = @IdProducto AND [IdTamaño] = @IdTamanio)
    BEGIN
        RAISERROR('El tamaño ya tiene ventas y no se puede quitar.',16,1)
        RETURN
    END
    DELETE FROM [PRODUCTO_TAMAÑO] WHERE IdProducto = @IdProducto AND [IdTamaño] = @IdTamanio
END
GO
-- ── CONSULTAS (decisión 56) ─────────────────────────────────
-- VENTA_BLL.ListarVentas: ventas del período con su vale, factura y comanda
CREATE OR ALTER PROCEDURE [dbo].[ListarVentasPorFecha]
    @Desde DATETIME,
    @Hasta DATETIME
AS BEGIN
    SELECT V.IdVenta, V.Fecha, V.Monto, V.MedioPago,
           VA.IdVale, VA.Utilizado,
           F.IdFactura, F.NumeroComprobante, F.FechaHoraEmision AS FechaFactura,
           F.NombreCliente, F.TelefonoCliente, F.CorreoCliente,
           C.IdComanda, C.Estado AS EstadoComanda
    FROM VENTA V
    LEFT JOIN VALE VA ON VA.IdVenta = V.IdVenta
    LEFT JOIN FACTURA F ON F.IdVenta = V.IdVenta
    LEFT JOIN COMANDA C ON C.IdVenta = V.IdVenta
    WHERE V.Fecha >= @Desde AND V.Fecha < @Hasta
    ORDER BY V.Fecha DESC
END
GO
-- VENTA_BLL.ObtenerDetalleVenta
CREATE OR ALTER PROCEDURE [dbo].[ListarDetalleVenta]
    @IdVenta INT
AS BEGIN
    SELECT VD.IdVentaDetalle, VD.IdVenta, VD.IdProducto, P.Nombre AS NombreProducto, P.Tipo,
           VD.[IdTamaño], T.Nombre AS NombreTamanio, T.CantidadMagnitud, T.UnidadMagnitud,
           VD.Cantidad, VD.MontoLinea
    FROM VENTA_DETALLE VD
    INNER JOIN PRODUCTO P ON P.IdProducto = VD.IdProducto
    INNER JOIN [TAMAÑO] T ON T.[IdTamaño] = VD.[IdTamaño]
    WHERE VD.IdVenta = @IdVenta
    ORDER BY VD.IdVentaDetalle
END
GO
-- VALE_BLL.ListarVales. @Estado: N'' todos, N'SinUsar' o N'Utilizados'
CREATE OR ALTER PROCEDURE [dbo].[ListarValesPorFecha]
    @Desde  DATETIME,
    @Hasta  DATETIME,
    @Estado NVARCHAR(20)
AS BEGIN
    SELECT VA.IdVale, VA.IdVenta, VA.FechaHoraEmision, VA.MontoCertificado, VA.Utilizado,
           CAST(CASE WHEN EXISTS (SELECT 1 FROM VENTA_DETALLE VD
                                  INNER JOIN PRODUCTO P ON P.IdProducto = VD.IdProducto
                                  WHERE VD.IdVenta = VA.IdVenta AND P.Tipo = N'Bebida')
                     THEN 1 ELSE 0 END AS BIT) AS TieneBebidas
    FROM VALE VA
    WHERE VA.FechaHoraEmision >= @Desde AND VA.FechaHoraEmision < @Hasta
      AND (@Estado = N'' OR (@Estado = N'SinUsar' AND VA.Utilizado = 0) OR (@Estado = N'Utilizados' AND VA.Utilizado = 1))
    ORDER BY VA.FechaHoraEmision DESC
END
GO
-- ── RECETA ───────────────────────────────────────────────────
CREATE OR ALTER PROCEDURE [dbo].[BuscarRecetaPorProducto]
    @IdProducto INT
AS BEGIN
    SELECT R.IdProducto, R.IdInsumo, R.Proporcion,
           I.Nombre AS NombreInsumo, I.UnidadMedida, I.Activo AS InsumoActivo
    FROM RECETA R
    INNER JOIN INSUMO I ON I.IdInsumo = R.IdInsumo
    WHERE R.IdProducto = @IdProducto
    ORDER BY I.Nombre
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoSinReceta]
AS BEGIN
    SELECT P.IdProducto, P.Nombre, P.Tipo, P.Activo, P.DVH
    FROM PRODUCTO P
    WHERE P.Activo = 1
      AND NOT EXISTS (SELECT 1 FROM RECETA R WHERE R.IdProducto = P.IdProducto)
    ORDER BY P.Nombre
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarProductoConReceta]
AS BEGIN
    SELECT P.IdProducto, P.Nombre, P.Tipo, P.Activo, P.DVH
    FROM PRODUCTO P
    WHERE P.Activo = 1
      AND EXISTS (SELECT 1 FROM RECETA R WHERE R.IdProducto = P.IdProducto)
    ORDER BY P.Nombre
END
GO
-- MAPPER_RECETA.GuardarReceta: una llamada por línea
CREATE OR ALTER PROCEDURE [dbo].[GuardarRecetaLinea]
    @IdProducto INT,
    @IdInsumo   INT,
    @Proporcion DECIMAL(18,3)
AS BEGIN
    INSERT INTO RECETA (IdProducto, IdInsumo, Proporcion)
    VALUES (@IdProducto, @IdInsumo, @Proporcion)
END
GO
-- MAPPER_RECETA.ActualizarReceta: borra las líneas (filas de relación) y se vuelven a guardar
CREATE OR ALTER PROCEDURE [dbo].[EliminarRecetaProducto]
    @IdProducto INT
AS BEGIN
    DELETE FROM RECETA WHERE IdProducto = @IdProducto
END
GO
-- ── VENTA ────────────────────────────────────────────────────
CREATE OR ALTER PROCEDURE [dbo].[GuardarVenta]
    @Fecha     DATETIME,
    @Monto     DECIMAL(18,2),
    @MedioPago NVARCHAR(30)
AS BEGIN
    INSERT INTO VENTA (Fecha, Monto, MedioPago)
    VALUES (@Fecha, @Monto, @MedioPago)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdVenta
END
GO
CREATE OR ALTER PROCEDURE [dbo].[GuardarVentaDetalle]
    @IdVenta    INT,
    @IdProducto INT,
    @IdTamanio  INT,
    @Cantidad   INT,
    @MontoLinea DECIMAL(18,2)
AS BEGIN
    INSERT INTO VENTA_DETALLE (IdVenta, IdProducto, [IdTamaño], Cantidad, MontoLinea)
    VALUES (@IdVenta, @IdProducto, @IdTamanio, @Cantidad, @MontoLinea)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdVentaDetalle
END
GO
-- ── VALE ─────────────────────────────────────────────────────
CREATE OR ALTER PROCEDURE [dbo].[GuardarVale]
    @IdVenta          INT,
    @FechaHoraEmision DATETIME,
    @MontoCertificado DECIMAL(18,2)
AS BEGIN
    INSERT INTO VALE (IdVenta, FechaHoraEmision, MontoCertificado, Utilizado)
    VALUES (@IdVenta, @FechaHoraEmision, @MontoCertificado, 0)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdVale
END
GO
-- CU012: el vale y sus líneas de bebidas (sin líneas si la venta es solo de piqueos)
CREATE OR ALTER PROCEDURE [dbo].[BuscarVale]
    @IdVale INT
AS BEGIN
    SELECT V.IdVale, V.IdVenta, V.FechaHoraEmision, V.MontoCertificado, V.Utilizado,
           VD.IdVentaDetalle, VD.IdProducto, P.Nombre AS NombreProducto,
           VD.[IdTamaño], T.Nombre AS NombreTamanio, T.CantidadMagnitud, VD.Cantidad
    FROM VALE V
    LEFT JOIN VENTA_DETALLE VD
        INNER JOIN PRODUCTO P ON P.IdProducto = VD.IdProducto AND P.Tipo = N'Bebida'
        INNER JOIN [TAMAÑO] T ON T.[IdTamaño] = VD.[IdTamaño]
        ON VD.IdVenta = V.IdVenta
    WHERE V.IdVale = @IdVale
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ActualizarUtilizadoVale]
    @IdVale INT
AS BEGIN
    UPDATE VALE SET Utilizado = 1 WHERE IdVale = @IdVale AND Utilizado = 0
END
GO
-- ── COMANDA ──────────────────────────────────────────────────
CREATE OR ALTER PROCEDURE [dbo].[GuardarComanda]
    @IdVenta          INT,
    @FechaHoraEmision DATETIME,
    @Estado           NVARCHAR(30)
AS BEGIN
    INSERT INTO COMANDA (IdVenta, FechaHoraEmision, Estado)
    VALUES (@IdVenta, @FechaHoraEmision, @Estado)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdComanda
END
GO
-- CU011: la comanda y sus líneas de piqueos (la comanda no tiene detalle propio, decisión 32)
CREATE OR ALTER PROCEDURE [dbo].[BuscarComanda]
    @IdComanda INT
AS BEGIN
    SELECT C.IdComanda, C.IdVenta, C.FechaHoraEmision, C.Estado,
           VD.IdVentaDetalle, VD.IdProducto, P.Nombre AS NombreProducto,
           VD.[IdTamaño], T.Nombre AS NombreTamanio, VD.Cantidad
    FROM COMANDA C
    LEFT JOIN VENTA_DETALLE VD
        INNER JOIN PRODUCTO P ON P.IdProducto = VD.IdProducto AND P.Tipo = N'Piqueo'
        INNER JOIN [TAMAÑO] T ON T.[IdTamaño] = VD.[IdTamaño]
        ON VD.IdVenta = C.IdVenta
    WHERE C.IdComanda = @IdComanda
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ActualizarEstadoComanda]
    @IdComanda INT,
    @Estado    NVARCHAR(30)
AS BEGIN
    UPDATE COMANDA SET Estado = @Estado WHERE IdComanda = @IdComanda
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarComandaPorEstado]
    @Estado NVARCHAR(30)
AS BEGIN
    SELECT IdComanda, IdVenta, FechaHoraEmision, Estado
    FROM COMANDA
    WHERE Estado = @Estado
    ORDER BY FechaHoraEmision
END
GO
-- ── FACTURA ──────────────────────────────────────────────────
-- Usar dentro de la transacción de la venta: el bloqueo evita números repetidos (decisión 11)
CREATE OR ALTER PROCEDURE [dbo].[ObtenerProximoNumeroFactura]
AS BEGIN
    SELECT ISNULL(MAX(NumeroComprobante), 0) + 1 AS NumeroComprobante
    FROM FACTURA WITH (UPDLOCK, HOLDLOCK)
END
GO
CREATE OR ALTER PROCEDURE [dbo].[GuardarFactura]
    @IdVenta           INT,
    @NumeroComprobante INT,
    @FechaHoraEmision  DATETIME,
    @NombreCliente     NVARCHAR(100) = NULL,
    @TelefonoCliente   NVARCHAR(30)  = NULL,
    @CorreoCliente     NVARCHAR(100) = NULL,
    @Total             DECIMAL(18,2)
AS BEGIN
    INSERT INTO FACTURA (IdVenta, NumeroComprobante, FechaHoraEmision,
                         NombreCliente, TelefonoCliente, CorreoCliente, Total)
    VALUES (@IdVenta, @NumeroComprobante, @FechaHoraEmision,
            NULLIF(@NombreCliente, N''), NULLIF(@TelefonoCliente, N''), NULLIF(@CorreoCliente, N''), @Total)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdFactura
END
GO
-- ── PROVEEDOR (ABM de proveedores: CU022, CU026, CU027) ─────
CREATE OR ALTER PROCEDURE [dbo].[ListarProveedor]
AS BEGIN
    SELECT IdProveedor, RazonSocial, CUIT, Telefono, Correo, Activo
    FROM PROVEEDOR
    ORDER BY RazonSocial
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarProveedorActivo]
AS BEGIN
    SELECT IdProveedor, RazonSocial, CUIT, Telefono, Correo, Activo
    FROM PROVEEDOR
    WHERE Activo = 1
    ORDER BY RazonSocial
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ListarInsumosDeProveedor]
    @IdProveedor INT
AS BEGIN
    SELECT I.IdInsumo, I.Nombre, I.UnidadMedida, I.UnidadCompra, I.EquivalenciaMagnitud,
           I.VolumenPesoDisponible, I.UmbralReposicion, I.CostoUnidadCompra, I.AvisoStockBajo, I.Activo
    FROM INSUMO_PROVEEDOR IP
    INNER JOIN INSUMO I ON I.IdInsumo = IP.IdInsumo
    WHERE IP.IdProveedor = @IdProveedor
    ORDER BY I.Nombre
END
GO
-- CUIT duplicado contra activos e inactivos
CREATE OR ALTER PROCEDURE [dbo].[AltaProveedor]
    @RazonSocial NVARCHAR(100),
    @CUIT        NVARCHAR(13),
    @Telefono    NVARCHAR(30),
    @Correo      NVARCHAR(100)
AS BEGIN
    IF EXISTS (SELECT 1 FROM PROVEEDOR WHERE CUIT = @CUIT)
    BEGIN
        RAISERROR('Ya existe un proveedor con ese CUIT.',16,1)
        RETURN
    END
    INSERT INTO PROVEEDOR (RazonSocial, CUIT, Telefono, Correo, Activo)
    VALUES (@RazonSocial, @CUIT, @Telefono, @Correo, 1)
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdProveedor
END
GO
CREATE OR ALTER PROCEDURE [dbo].[ModificarProveedor]
    @IdProveedor INT,
    @RazonSocial NVARCHAR(100),
    @CUIT        NVARCHAR(13),
    @Telefono    NVARCHAR(30),
    @Correo      NVARCHAR(100)
AS BEGIN
    IF EXISTS (SELECT 1 FROM PROVEEDOR WHERE CUIT = @CUIT AND IdProveedor <> @IdProveedor)
    BEGIN
        RAISERROR('Ya existe un proveedor con ese CUIT.',16,1)
        RETURN
    END
    UPDATE PROVEEDOR SET
        RazonSocial = @RazonSocial,
        CUIT        = @CUIT,
        Telefono    = @Telefono,
        Correo      = @Correo
    WHERE IdProveedor = @IdProveedor
END
GO
-- Baja lógica
CREATE OR ALTER PROCEDURE [dbo].[BajaProveedor]
    @IdProveedor INT
AS BEGIN
    UPDATE PROVEEDOR SET Activo = 0 WHERE IdProveedor = @IdProveedor
END
GO
CREATE OR ALTER PROCEDURE [dbo].[AsignarInsumoProveedor]
    @IdProveedor INT,
    @IdInsumo    INT
AS BEGIN
    INSERT INTO INSUMO_PROVEEDOR (IdInsumo, IdProveedor)
    VALUES (@IdInsumo, @IdProveedor)
END
GO
-- Quita las asociaciones (filas de relación) para volver a asignarlas al modificar
CREATE OR ALTER PROCEDURE [dbo].[QuitarInsumosProveedor]
    @IdProveedor INT
AS BEGIN
    DELETE FROM INSUMO_PROVEEDOR WHERE IdProveedor = @IdProveedor
END
GO
USE [TpIngSoftware_2026]
GO
-- ══════════════════════════════════════════════════════════════
--  Roles de negocio (decisión 55). Va al final del script: define el contenido de cada rol
--  después de que los bloques anteriores agregan sus permisos. Idempotente.
-- ══════════════════════════════════════════════════════════════
-- Permiso simple nuevo
IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = N'Ver Stock Bajo')
    INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) SELECT ISNULL(MAX(Id), 0) + 1, N'Ver Stock Bajo', 0 FROM [dbo].[PERMISO]
GO
-- "Rol - Cliente" se elimina: el cliente no usa el sistema (decisión 55)
DECLARE @IdCliente INT = (SELECT Id FROM [dbo].[PERMISO] WHERE Nombre = N'Rol - Cliente')
IF @IdCliente IS NOT NULL
BEGIN
    DELETE FROM [dbo].[USUARIO_PERMISO] WHERE IdPermiso = @IdCliente
    DELETE FROM [dbo].[PERMISO_RELACION] WHERE IdPadre = @IdCliente OR IdHijo = @IdCliente
    DELETE FROM [dbo].[PERMISO] WHERE Id = @IdCliente
END
GO
-- Familias de roles
DECLARE @Roles TABLE (Rol NVARCHAR(100), Permiso NVARCHAR(100))

DECLARE @Rol NVARCHAR(100)
DECLARE cRoles CURSOR LOCAL FAST_FORWARD FOR SELECT DISTINCT Rol FROM @Roles
OPEN cRoles
FETCH NEXT FROM cRoles INTO @Rol
WHILE @@FETCH_STATUS = 0
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [dbo].[PERMISO] WHERE Nombre = @Rol)
        INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) SELECT ISNULL(MAX(Id), 0) + 1, @Rol, 1 FROM [dbo].[PERMISO]
    FETCH NEXT FROM cRoles INTO @Rol
END
CLOSE cRoles
DEALLOCATE cRoles

-- El contenido de cada rol se redefine (filas de relación, decisión 53)
DELETE R FROM [dbo].[PERMISO_RELACION] R
INNER JOIN [dbo].[PERMISO] P ON P.Id = R.IdPadre
WHERE P.Nombre IN (SELECT DISTINCT Rol FROM @Roles)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo])
SELECT PR.Id, PH.Id FROM @Roles X
INNER JOIN [dbo].[PERMISO] PR ON PR.Nombre = X.Rol
INNER JOIN [dbo].[PERMISO] PH ON PH.Nombre = X.Permiso
GO
-- Usuarios de prueba, uno por rol (clave "test")
DECLARE @Usuarios TABLE (Correo NVARCHAR(50), Nombre NVARCHAR(50), Apellido NVARCHAR(50), Dni INT, Rol NVARCHAR(100))
INSERT @Usuarios VALUES
 (N'vendedor@bar.com', N'Valeria', N'Vendedora', 30000001, N'Rol - Vendedor'),
 (N'cocinero@bar.com', N'Carlos', N'Cocinero', 30000002, N'Rol - Cocinero'),
 (N'bartender@bar.com', N'Bruno', N'Bartender', 30000003, N'Rol - Bartender'),
 (N'encargado@bar.com', N'Elena', N'Encargada', 30000004, N'Rol - Encargado de Stock'),
 (N'duenio@bar.com', N'Daniel', N'Dueño', 30000005, N'Rol - Dueño'),
 (N'admin@bar.com', N'Ana', N'Administradora', 30000006, N'Rol - Administrador')

DECLARE @Correo NVARCHAR(50), @Nombre NVARCHAR(50), @Apellido NVARCHAR(50), @Dni INT
DECLARE cUsuarios CURSOR LOCAL FAST_FORWARD FOR SELECT Correo, Nombre, Apellido, Dni FROM @Usuarios
OPEN cUsuarios
FETCH NEXT FROM cUsuarios INTO @Correo, @Nombre, @Apellido, @Dni
WHILE @@FETCH_STATUS = 0
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [dbo].[USUARIO] WHERE CorreoElectronico = @Correo)
        INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma])
        SELECT ISNULL(MAX(IdUsuario), 0) + 1, @Nombre, @Apellido, @Dni, @Correo, N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08', 1 FROM [dbo].[USUARIO]
    FETCH NEXT FROM cUsuarios INTO @Correo, @Nombre, @Apellido, @Dni
END
CLOSE cUsuarios
DEALLOCATE cUsuarios

INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso])
SELECT U.IdUsuario, P.Id FROM @Usuarios X
INNER JOIN [dbo].[USUARIO] U ON U.CorreoElectronico = X.Correo
INNER JOIN [dbo].[PERMISO] P ON P.Nombre = X.Rol
WHERE NOT EXISTS (SELECT 1 FROM [dbo].[USUARIO_PERMISO] UP WHERE UP.IdUsuario = U.IdUsuario AND UP.IdPermiso = P.Id)

-- test@test.com y seba@fernandez.com (cuentas del alumno) reciben todos los roles
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso])
SELECT U.IdUsuario, P.Id FROM [dbo].[USUARIO] U
CROSS JOIN [dbo].[PERMISO] P
WHERE U.CorreoElectronico IN (N'test@test.com', N'seba@fernandez.com')
  AND P.EsFamilia = 1 AND P.Nombre LIKE N'Rol - %'
  AND NOT EXISTS (SELECT 1 FROM [dbo].[USUARIO_PERMISO] UP WHERE UP.IdUsuario = U.IdUsuario AND UP.IdPermiso = P.Id)
GO
USE [master]
GO
