<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- CU015 (decisión 54): datos del emisor de la Factura B simulada. Ficticios; se pueden cambiar sin compilar. -->
        <add key="Emisor.RazonSocial" value="Bar de Tragos SRL" />
        <add key="Emisor.Cuit" value="30-12345678-9" />
        <add key="Emisor.Domicilio" value="Av. Siempre Viva 742, CABA" />
        <add key="Emisor.CondicionIva" value="IVA Responsable Inscripto" />
        <add key="Emisor.IngresosBrutos" value="901-123456-7" />
        <add key="Emisor.InicioActividades" value="01/03/2024" />
        <add key="Emisor.PuntoVenta" value="1" />
        <add key="Emisor.AlicuotaIva" value="21" />
    </appSettings>
</configuration>